@mixin verticalAlign() {

    top: 50%;
    transform: translateY(-50%);
}

.user-widget-container {

    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0.9em;
    color: white;
    background-color: rgb(76, 48, 129);

    $avatar-width: 3vh;

    .avatar {

        width: $avatar-width;
        height: $avatar-width;
        margin-left: 10px;
        position: absolute;
        background-color: whitesmoke;
        border-radius: 5px;
        @include verticalAlign();
    }

    .user-details {

        height: $avatar-width;
        margin-left: 5vh;
        position: absolute;
        @include verticalAlign();
    }
}

.user-widget-container:hover {

    cursor: pointer;
    background-color: rgba(129, 93, 196, 0.548)
}
