.top-navbar-container {

    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(76, 48, 129);
}

.top-navbar-container .site-logo {

    height: 80%;
    margin: 5px 0 0 10px;
    position: absolute;
}

.top-navbar-container login {

    right: 0;
    bottom: 0;
    width: 4vw;
    height: 100%;
    position: absolute;
}

.top-navbar-container user-widget {

    right: 0;
    bottom: 0;
    width: 11.5vw;
    height: 100%;
    position: absolute;
}
