.login-panel-container {

    width: 22vw;
    height: 42vh;
    background-color: white;
    border-radius: 4px;
}

.login-panel-container .header, .login-panel-container .content {

    margin: 0 auto;
    text-align: center;
}

.login-panel-container .header {

    width: 85%;
    margin-top: 10%;
    font-size: 0.65em;
}

.login-panel-container .error-message {

    color: tomato;
}

.login-panel-container .hide {

    display: none;
}

.login-panel-container .content {

    width: 88%;
    padding-top: 5%;
    margin-top: 10%;
    margin-bottom: 9%;
    text-align: left;
    font-size: 0.75em;
    border-top: 1px solid rgb(185, 184, 184);
}

.login-panel-container .content label {

    font-weight: 700;
}

.login-panel-container .content input {

    width: 100%;
    margin-top: 7px;
    margin-bottom: 20px;
    padding: 6px 8px;
    display: inline-block;
    outline: none;
    border: 1px solid rgb(179, 179, 179);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    border-radius: 5px;
}

.login-panel-container .content input:focus {

    border: 1px solid rgb(129, 90, 202);
    box-shadow: 0 0 5px rgba(129, 90, 202, 0.699);
}

.login-panel-container .button {

    width: 88%;
    height: 3vh;
    margin: 15px auto;
    line-height: 3vh;
    text-align: center;
    font-size: 0.75em;
    color: white;
    background-color: rgb(99, 63, 167);
    border-radius: 4px;
}

.login-panel-container .button:hover {

    cursor: pointer;
    background-color: rgb(129, 90, 202);
}
